*{ margin:0;
	padding:0; 
}

body{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #2ecc71;
}

.header, .center, .bottom{
	float:left; width: 100%; 
	height: 200px;
}

.header{
	height: 80%;
}

/*----------------------ВЕРХ---------------------------------*/

.logo{
	float: left; width: 19.65%; height:56px;
	margin: 3% 0 0 3%;
	background: url('img/logo(1440x900).png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
}

.button_input_top_in, .button_input_top_reg {
	float: right;
	width: 12%;
	height: 40px;
	margin: 4% 4% 0 0;
	text-decoration: none;
	color: black;text-align: center;
	background: white; border-radius: 8px;
	font-size: 130%;
	background: #ECF0F1;
	box-shadow: 2px 2px 10px -2px #000;
}
.button_input_top_in p, .button_input_top_reg p{margin-top: 4%;}
.button_input_top_reg {
	margin: 4% 1% 0 0;
}
.button_input_top_in:hover, .button_input_top_reg:hover {
	background: #CAD0D2;
}
/*----------------------ФОРМА_РЕГИСТРАЦИИ---------------------------------*/
.reg_form{
	float: left;
	/* position: relative; */
	width: 20.48%;
	height: 94.58333333333333%;
	/* border: solid 1px; */
	margin: 0% 0 0 15%;
	/* background: #CACACA; */
	/* z-index: 1; */
	background: url('img/forma(1440x900).png');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100% 100%;
}

.reg_form input, .reg_form  textarea{
	list-style-type: none;
	/* border: solid 2px; */
	width: 58%; height: 40px;
	margin: 0 0 0 0;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 2px 10px -2px #000;
	font-size: 80%;
}


#reg_form_name{
	margin: 100% 0 0 20%;
}
#reg_form_name, #reg_form_email{
	 padding-left: 4%;
}
#reg_form_email, #reg_form_button, #reg_form_vk{
	margin: 9% 0 0 20%;
}
#reg_form_button{
	background: #F1C40F;
	color: white; width: 62%;
	font-size: 80%;
}
#reg_form_vk{
	background: #2980B9;
	color: white; width: 62%;
	font-size: 80%;
}
#reg_form_button:hover {
	background: #DEB306;
}
#reg_form_vk:hover {
	background: #0F70B0;
}
#reg_form_button:after, #reg_form_vk:after{
 	outline: none;
 	border: none;
}

/*#reg_form_button{
	margin: 21% 0 0 21%;
	width: 59%; height: 70px;
	font-size: 120%;
	background: #FFFFFF;
}*/

/*----------------------ГЛАВНЫЙ_ФУТОР---------------------------------*/

.footer{	
	float: left;
	height: 20%;
	width: 100%;
}

.button_more{
	float: left;
	margin: 5% 0% 0 7%;
	width: 10%;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	color: #838383;
	text-align: center;
}

/*----------------PAGE_2-------------------------------*/

.text_block_1{
	float: left;
	height: 85%;
	width: 37%;
	margin: 7% 0 0 9%;
	border: solid 1px grey;
	color: grey;
	text-align: center;
}
.text_block_1 h1{
	margin-top: 50%;
}
#flag_1{
	float: left; width: 80%;
}
#flag_2{
	float: left; width: 80%;
}
.second_footer{
	height: 20%; width: 100%;
}
.button_next{
	float: left;
	margin: 5% 0% 0 40%;
	width: 10%;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	color: #838383;
	text-align: center;
}

/*----------------PAGE_3-------------------------------*/

.text_block_2{
	float: left;
	height: 37%;
	width: 36%;
	margin: 7% 0 0 9%;
	border: solid 1px grey;
	color: grey;
	text-align: center;	
}
.text_block_2 h1{
	margin-top: 20%;
}
.simple_form{
	float: left;
	height: 37%;
	width: 37%;
	margin: 6.5% 0 0 9%;
	border: solid 1px grey;
	border-radius: 20px;
	color: grey;
}
#reg_s_form_name, #reg_s_form_email{
	height: 15%;
	width: 80%;
	margin: 7% 0 0 10%;
	border-radius: 10px;
}
#reg_s_form_button{
	height: 15%;
	width: 80%;
	margin: 7% 0 0 10%;
	border-radius: 10px;
}









































